@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');
@import "tailwindcss";

@theme{
--color-app-yellow: #F4AB0Eff;
--color-app-green: #4A681Eff;
--color-antiflash-white: #F4F7FBff;
--color-jasmine: #EFD478ff;
--color-app-purple: #8D1274ff;
--color-button-green: #66AF35ff;
--color-default-color: #30100Eff;
--color-kelly-green: #20A208ff;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #30100Eff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.comissioner-font{
  font-family: "Commissioner", sans-serif;}

